@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

/* variables */
:root {
    --font-family: 'Open Sans', sans-serif;
    --primary-color: #1A6240;
    --secondary-color: #D9D9D9;
    --font-bold: 700;
    --font-semibold: 600;
    --font-regular: 400;
}

.hidden {
    display: none;
}

#header {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #1A6240;
    color: #D9D9D9;
}

#header-search {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header-page {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header-search>img {
    border-radius: 50%;
    width: 60px;
    height: 60px;

}

#search {
    width: 50%;
    height: 50%;
    border-radius: 20px;
    border: 0;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#container2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around
}

/*
 * Always set the map height explicitly to define the size of the div element
 * that contains the map.
 */
#map {
    height: 100%;
}

/*
   * Optional: Makes the sample page fill the window.
   */
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.small {
    font-size: 16px !important;
}